In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cleaned_watched.csv")
df.head()

,Unnamed: 0,Brand,Movement,Case material,Bracelet material,Gender,Price,Shape,Crystal,Dial,Bracelet color,Clasp,Total Sale,Seller Reviews,Year,Volume
0,12,Zeppelin,Quartz,steel,Leather,Men's watch/Unisex,22192.5,Circular,Mineral Glass,Grey,Brown,Buckle,2328.0,1742.0,2024-01-01,Medium Sale
1,14,Formex,Automatic,Carbon,Textile,Men's watch/Unisex,164917.5,Rectangular,Sapphire crystal,Grey,Black,Buckle,1072.0,940.0,2024-01-01,Medium Sale
2,17,Vostok,Automatic,steel,Steel,Men's watch/Unisex,11467.5,Rectangular,Glass,White,Steel,Fold clasp,804.0,551.0,2024-01-01,Medium Sale
3,18,Ingersoll,Automatic,steel,Animal skin,Men's watch/Unisex,28957.5,Circular,Mineral Glass,Gold,Black,Buckle,14626.0,7424.0,2024-01-01,High Sale
4,19,Omega,Automatic,steel,Rubber,Men's watch/Unisex,412500.0,Circular,Sapphire crystal,Black,Black,Buckle,254.0,128.0,2024-01-01,Low Sale

In [3]:
df.columns

Index(['Unnamed: 0', 'Brand', 'Movement', 'Case material', 'Bracelet material',
       'Gender', 'Price', 'Shape', 'Crystal', 'Dial', 'Bracelet color',
       'Clasp', 'Total Sale', 'Seller Reviews', 'Year', 'Volume'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12702 entries, 0 to 12701
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12702 non-null  int64
 1   Brand              12702 non-null  object
 2   Movement           12702 non-null  object
 3   Case material      12702 non-null  object
 4   Bracelet material  12702 non-null  object
 5   Gender             12702 non-null  object
 6   Price              12702 non-null  float64
 7   Shape              12702 non-null  object
 8   Crystal            12702 non-null  object
 9   Dial               12702 non-null  object
 10  Bracelet color     12702 non-null  object
 11  Clasp              12702 non-null  object
 12  Total Sale         12702 non-null  float64
 13  Seller Reviews     12702 non-null  float64
 14  Year               12702 non-null  object
 15  Volume             12702 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 1.6+ MB

In [5]:
df['Year'] = pd.to_datetime(df['Year'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12702 entries, 0 to 12701
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12702 non-null  int64
 1   Brand              12702 non-null  object
 2   Movement           12702 non-null  object
 3   Case material      12702 non-null  object
 4   Bracelet material  12702 non-null  object
 5   Gender             12702 non-null  object
 6   Price              12702 non-null  float64
 7   Shape              12702 non-null  object
 8   Crystal            12702 non-null  object
 9   Dial               12702 non-null  object
 10  Bracelet color     12702 non-null  object
 11  Clasp              12702 non-null  object
 12  Total Sale         12702 non-null  float64
 13  Seller Reviews     12702 non-null  float64
 14  Year               12702 non-null  datetime64[ns]
 15  Volume             12702 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 1.6+ MB

In [7]:
df.nunique()

Unnamed: 0           12702
Brand                  405
Movement                 5
Case material           12
Bracelet material       10
Gender                   2
Price                 4195
Shape                    2
Crystal                  5
Dial                    14
Bracelet color           9
Clasp                    6
Total Sale             865
Seller Reviews         641
Year                    99
Volume                   3
dtype: int64

In [9]:
df.columns = df.columns.str.lower()

In [10]:
df.columns

Index(['unnamed: 0', 'brand', 'movement', 'case material', 'bracelet material',
       'gender', 'price', 'shape', 'crystal', 'dial', 'bracelet color',
       'clasp', 'total sale', 'seller reviews', 'year', 'volume'],
      dtype='object')

In [25]:
df.to_csv('watches.csv',index=False)

In [ ]:
df.rename(columns={
    'unnamed: 0':'serial',
    'case material':'case_material',
    'bracelet material':'bracelet_material',
    'bracelet color':'bracelet_color',
    'total sale':'total_sale',
    'seller reviews':'seller_reviews'
    },inplace=True)

In [16]:
df.rename(columns={'Serial':'serial'},inplace=True)

In [17]:
df1 = df[['serial','brand', 'movement', 'case_material', 'bracelet_material','gender','shape', 'crystal', 'dial', 'bracelet_color',
       'clasp','year']]

In [19]:
df1.head()

,serial,brand,movement,case_material,bracelet_material,gender,shape,crystal,dial,bracelet_color,clasp,year
0,12,Zeppelin,Quartz,steel,Leather,Men's watch/Unisex,Circular,Mineral Glass,Grey,Brown,Buckle,2024-01-01
1,14,Formex,Automatic,Carbon,Textile,Men's watch/Unisex,Rectangular,Sapphire crystal,Grey,Black,Buckle,2024-01-01
2,17,Vostok,Automatic,steel,Steel,Men's watch/Unisex,Rectangular,Glass,White,Steel,Fold clasp,2024-01-01
3,18,Ingersoll,Automatic,steel,Animal skin,Men's watch/Unisex,Circular,Mineral Glass,Gold,Black,Buckle,2024-01-01
4,19,Omega,Automatic,steel,Rubber,Men's watch/Unisex,Circular,Sapphire crystal,Black,Black,Buckle,2024-01-01

In [20]:
df.columns

Index(['serial', 'brand', 'movement', 'case_material', 'bracelet_material',
       'gender', 'price', 'shape', 'crystal', 'dial', 'bracelet_color',
       'clasp', 'total_sale', 'seller_reviews', 'year', 'volume'],
      dtype='object')

In [21]:
df2 = df[['serial', 'brand','gender', 'price','total_sale', 'seller_reviews', 'year', 'volume']]

In [22]:
df2.head()

,serial,brand,gender,price,total_sale,seller_reviews,year,volume
0,12,Zeppelin,Men's watch/Unisex,22192.5,2328.0,1742.0,2024-01-01,Medium Sale
1,14,Formex,Men's watch/Unisex,164917.5,1072.0,940.0,2024-01-01,Medium Sale
2,17,Vostok,Men's watch/Unisex,11467.5,804.0,551.0,2024-01-01,Medium Sale
3,18,Ingersoll,Men's watch/Unisex,28957.5,14626.0,7424.0,2024-01-01,High Sale
4,19,Omega,Men's watch/Unisex,412500.0,254.0,128.0,2024-01-01,Low Sale

In [23]:
df1.to_csv('watch_built.csv',index=False)

In [24]:
df2.to_csv('watch_num.csv',index=False)